<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Election Year
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">1900</a></li>
      <li><a href="#">1904</a></li>
      <li><a href="#">1908</a></li>
      <li><a href="#">1912</a></li>
      <li><a href="#">1916</a></li>
      <li><a href="#">1920</a></li>
      <li><a href="#">1924</a></li>
      <li><a href="#">1928</a></li>
      <li><a href="#">1932</a></li>
      <li><a href="#">1936</a></li>
      <li><a href="#">1940</a></li>
      <li><a href="#">1944</a></li>
      <li><a href="#">1948</a></li>
      <li><a href="#">1952</a></li>
      <li><a href="#">1956</a></li>
      <li><a href="#">1960</a></li>
      <li><a href="#">1964</a></li>
      <li><a href="#">1968</a></li>
      <li><a href="#">1972</a></li>
      <li><a href="#">1976</a></li>
      <li><a href="#">1980</a></li>
      <li><a href="#">1984</a></li>
      <li><a href="#">1988</a></li>
      <li><a href="#">1992</a></li>
      <li><a href="#">1996</a></li>
      <li><a href="#">2000</a></li>
      <li><a href="#">2004</a></li>
      <li><a href="#">2008</a></li>
      <li><a href="#">2012</a></li>
      <li><a href="#">2016</a></li>
    </ul>
  </div>
<script type="text/javascript" src="../static/js/map.js"></script>
</body>
</html>
