<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <style>
        .bubbles {
          stroke-width: 1px;
          stroke: black;
          opacity: .8
        }
        .bubbles:hover {
          stroke: black;
        }
        </style>

    </head>

    <body>
        <!-- Create a div where the graph will take place -->
        <div id="scatter"></div>

        <script src="../static/js/scatter.js"></script>


    </body>
</html>